# Zoho OAuth Credentials
ZOHO_CLIENT_ID=1000.TNBNLI63663APB8KXZT51EL0GN6XWR
ZOHO_CLIENT_SECRET=2409afe41983601746c1e48da57d84d51f43b1fb78
ZOHO_REDIRECT_URI=https://slack-zoho-integration.vercel.app/api/auth
ZOHO_REGION=com

# Slack Credentials
SLACK_BOT_TOKEN=xoxb-10008820868661-10041475288256-hWLaMdfOYHsCEcsB2kcB4KyN
SLACK_SIGNING_SECRET=a3c710930b5b3c5c78c89b2a1598a834
SLACK_CHANNEL_ID=#e-mail
